/*
    Document   : SiveinPy/static/css/main．css
    Created on : 2014-06-07 02:55 AM
    Author     : richpolis
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

body {
    background-color: gray;
}